<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinhala Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sign Animator</h1>
        <form id="translateForm">
            <textarea id="sinhalaText" name="sinhala_text" rows="4" cols="50" placeholder="Enter Sinhala text..."></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
        <h2>Video:</h2>
        <div class="single-explore-item">
            <div id="loadingIndicator" style="display: none;">
                <p>Loading...</p>
            </div>
            <video id="outputVideo" controls style="display: none;">
                <source id="videoSource" src="{{url_for('serve_output_file',filename='output_5.mp4')}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/generate.js') }}"></script>
</body>
</html>


